$logo-color: #013CC6;
$primary-color: #0B63F8;
$white-color: #FFFFFF;
$white-100-color: #F8F8F8;
$black-color: #000000;
$black-100-color: #131313;
$gray-color: #ADA7A7;
$orange-color: #FFBC0F;

$sm-breakpoint: 639px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;